# flagfile for the roq-hyperliquid gateway
# exchange servers are located in AWS, Singapore

--rest_uri=https://api.hyperliquid.com
--ws_public_uri=wss://stream.hyperliquid.com/v5/public
--ws_private_uri=wss://stream.hyperliquid.com/v5/private
